body{
    background-color: midnightblue;
}

h1{
    text-align: center;
    color: white;

}
body{
    margin: 4vw;

}
div{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}
body{
    background-color: midnightblue;
}